
.c7d ul.t{margin-left:3px;height:265px}
.c7d ul.t li{position:relative;height:242px;float:left;background:#f2f9ff;border:2px solid #f6fbff;width:89px;text-align:center;margin-right:2px;cursor:pointer;padding-bottom:6px}
.c7d ul.t li h1{height:64px;line-height:34px;font-size:13px}.c7d ul.t li .wea{font-size:13px;line-height:19px;height:36px;overflow:hidden;margin-top:12px;padding:0 5px}
.c7d ul.t li .tem{height:30px;line-height:30px;margin-top:5px}
.c7d ul.t li .tem span{color:#f56a13;display:inline-block}
.c7d ul.t li .tem i{display:inline-block;background:0}
.c7d ul.t li .win{margin-top:0}
.c7d ul.t li .win em{height:24px;display:block;margin-top:1px}
.c7d ul.t li .win em span{background-position:-84px 0;width:24px;height:24px;display:inline-block}
.c7d ul.t li .win em span.S{background-position:-82px -22px}
.c7d ul.t li .win em span.N{background-position:-83px -46px}
.c7d ul.t li .win em span.W{background-position:-82px -91px}
.c7d ul.t li .win em span.E{background-position:-82px -69px}
.c7d ul.t li .win em span.NE{background-position:-81px -164px}
.c7d ul.t li .win em span.NW{background-position:-82px -188px}
.c7d ul.t li .win em span.SE{background-position:-83px -115px}
.c7d ul.t li .win em span.SW{background-position:-82px -138px}
.c7d ul.t li .win i{background:0;font-size:12px;margin-top:6px;display:block}
.c7d ul.t li:hover{border:2px solid #ccefff;background:#fff}
.c7d ul.t li.on{border:2px solid #accfe9;background:#fff}
.c7d ul.t li.on .slid{bottom:-8px;position:absolute;left:35px;width:19px;height:9px;background-position:-84px -217px}

.c7d ul.t li.sky{border:1px solid #fff;margin-right:0;width:93px;height:246px;color:#fff}
.c7d ul.t li.sky.lv1{FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#0e7fdf,endColorStr=#69b8f0);background:-ms-linear-gradient(top,#0e7fdf,#69b8f0);background:-moz-linear-gradient(top,#0e7fdf,#69b8f0);background:-webkit-gradient(linear,0% 0,0% 100%,from(#0e7fdf),to(#69b8f0));background:-o-linear-gradient(top,#0e7fdf,#69b8f0)}
.c7d ul.t li.sky.lv2{FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#50b2fb,endColorStr=#a6d4f6);background:-ms-linear-gradient(top,#50b2fb,#a6d4f6);background:-moz-linear-gradient(top,#50b2fb,#a6d4f6);background:-webkit-gradient(linear,0% 0,0% 100%,from(#50b2fb),to(#a6d4f6));background:-o-linear-gradient(top,#50b2fb,#a6d4f6)}
.c7d ul.t li.sky.lv3{FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#88a9ca,endColorStr=#bcd3e3);background:-ms-linear-gradient(top,#88a9ca,#bcd3e3);background:-moz-linear-gradient(top,#88a9ca,#bcd3e3);background:-webkit-gradient(linear,0% 0,0% 100%,from(#88a9ca),to(#bcd3e3));background:-o-linear-gradient(top,#88a9ca,#bcd3e3)}
.c7d ul.t li.sky.lv4{FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#999691,endColorStr=#c5c5c5);background:-ms-linear-gradient(top,#999691,#c5c5c5);background:-moz-linear-gradient(top,#999691,#c5c5c5);background:-webkit-gradient(linear,0% 0,0% 100%,from(#999691),to(#c5c5c5));background:-o-linear-gradient(top,#999691,#c5c5c5)}
.c7d ul.t li.sky .tem span{color:#fff}
.c7d ul.t li.sky .win em span.S{background-position:-200px -22px}
.c7d ul.t li.sky .win em span.N{background-position:-200px -46px}
.c7d ul.t li.sky .win em span.W{background-position:-200px -91px}
.c7d ul.t li.sky .win em span.E{background-position:-200px -69px}
.c7d ul.t li.sky .win em span.NE{background-position:-200px -164px}
.c7d ul.t li.sky .win em span.NW{background-position:-200px -188px}
.c7d ul.t li.sky .win em span.SE{background-position:-200px -115px}
.c7d ul.t li.sky .win em span.SW{background-position:-200px -138px}


.c7d ul.t li.sky:hover,.c7d ul.t li.sky.on{border:1px solid #1c7ab0}
.c7d ul.t li.sky.on .slid{background-position:-202px -229px;width:17px;bottom:-9px;*bottom:-11px}
.c7d ul.t li.sky.lv1.on .slid{background-position:-202px -241px}
.c7d ul.t li.sky.lv2.on .slid{background-position:-202px -253px}
.c7d ul.t li.sky.lv3.on .slid{background-position:-202px -264px}
.c7d ul.t li.sky.lv4.on .slid{background-position:-202px -275px}
