@charset "UTF-8";

/* .gis_tool {
	position: absolute;
	right: 0px;
	top: 30px;
	background: url("../img/gis-tool.png") center no-repeat;
	width: 31px;
	height: 27px;
	border: 1px solid #C9C9C9;
	border-left: 4px solid #FE75A1; 
} */

.gis_tool_checked {
	background: url("../img/icon_openBar.png") center no-repeat;
	width: 37px;
	height: 30px;
	float: left;
	cursor: pointer;
    display: block;
    position: absolute;
    right: 0px;
    z-index: 99;
    background-size: cover;
}

.gistools_content {
	position: absolute;
/* 	border-left: 3px solid #FE75A1;
	border-top: 1px solid #CAC9C7;
	border-bottom: 1px solid #CAC9C7;
	background:white; */
	z-index: 999;
}

.single_tool {
	width: 34px;
	height: 30px;
	float: left;
	text-align: center;
	cursor: pointer;
}


.single_tool.active,.single_tool:hover{
	color:#ffffff;
	background-color: rgb(106, 177, 243);
}

.single_tool i{
	font-size: 16px;
    display: inherit;
    padding-top: 4px;
}

.single_tool img.picsize {
    height: 24px;
    margin-top: 3px;
}

.single_tool .picsize:hover{
	color:#ffffff;
	background-color: rgb(106, 177, 243);
} 

.gistools_content .gis_tool_title{
    width: 8px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    margin: 7px 0 0 8px;
    color: white;
}

.gistools_content .buttonContainer {
    background-color: white;
    height: 30px;
    width: 245px;
    float: left;
}

.gistools_content .gis_tool_checked_click {
    background: url("../img/icon_closeBar.png") center no-repeat;
    background-size: cover;
}