@CHARSET "UTF-8";


.DateAgent{
	position: relative;
	float: left;
	display: none;
}

.DateAgentPicker{
	position: relative;
	float: left;
	min-width: 120px;
	margin-bottom: 3px;
}

.DateAgentPicker ul.iPicker{
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 28px;
}

.DateAgentPicker ul.iPicker li{
	position: relative;
	float: left;
	margin: 0px 5px 0px 0px;
	height: 100%;
}
.DateAgentPicker ul.iPicker li span.iDay{
	position: relative;
	float: left;
	display: block;
	width: 16px;
	height: 22px;
	margin: 3px 0px;
	cursor: pointer;
}

.DateAgentPicker ul.iPicker-timeWrap{
	position: absolute;
	float: left;
	top: 25px;
	left: 3px;
	width: 240px;
	z-index: 8000;
}
.DateAgentPicker ul.iPicker-timeWrap li.iPicker-hourWrap{
	position: relative;
	float: left;
	display: none;
	background: #FFF;
	border: 1px #548AC4 solid;
	width: 100%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	-moz-transition: -moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: -webkit-box-shadow linear .2s;
	overflow: hidden;
}
.DateAgentPicker ul.iPicker-timeWrap li.iPicker-minuteWrap{
	position: relative;
	float: left;
	display: none;
	background: #FFF;
	border: 1px #548AC4 solid;
	width: 100%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	-moz-transition: -moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: -webkit-box-shadow linear .2s;
}
ul.iPicker-timeWrap ul > li:hover {
    background: #E0F0FF;
    color: #FF0000;
    text-shadow: 1px 1px 1px rgba(78, 94, 106, 1);
    border: 1px #007BFF solid;
}
li.iPicker-ico {
	/* width : 12px; */
	border: 1px #7CADE8 solid;
    height: 22px !important;
    width: 22px !important;
    padding: 0px 2px !important;
    margin: 3px -1px 3px 2px !important;
    text-align: center;
    cursor: pointer;
    color: #003469;
    text-shadow: 1px 1px 1px #AFAFAF;
    background: #fff url(images/datePicker_3.png) no-repeat 65%;
}

li.iPicker-hourWrap i{
	position: relative;
	width: 100%;
	float: left;
	color: #000D19;
	text-shadow: 1px 1px 1px #E7F1FA;
	font: 14px/24px 'Microsoft YaHei', Helvetica, Arial, san-serif, Tahoma;
	background: linear-gradient(to bottom, #9FCCF2 0%, #93C3EA 60%);
	text-align: center;
	border-bottom: 1px #548AC4 solid;
}
li.iPicker-hourWrap ul{
	position: relative;
	width: 98%;
	float: left;
	padding: 3px 3px;
}
li.iPicker-hourWrap ul > li{
	position: relative;
	float: left;
	width: 26px;
	height: 24px;
	text-align: center;
	color: #000D19;
	text-shadow: 1px 1px 1px rgba(158, 187, 218, 1);
	font: 12px/24px 'Microsoft YaHei', Helvetica, Arial, san-serif, Tahoma;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px rgba(255, 255, 255, 0) solid;
	list-style: none;
}
li.iPicker-hourWrap ul > li.selected{
	cursor: pointer;
	background: #E0F0FF;
	color: #FF0000;
	text-shadow: 1px 1px 1px rgba(78, 94, 106, 1);
	border: 1px #007BFF solid;
}
li.iPicker-minuteWrap i{
	position: relative;
	width: 100%;
	float: left;
	color: #000D19;
	text-shadow: 1px 1px 1px #E7F1FA;
	font: 14px/24px 'Microsoft YaHei', Helvetica, Arial, san-serif, Tahoma;
	background: linear-gradient(to bottom, #9FCCF2 0%, #93C3EA 60%);
	text-align: center;
	border-bottom: 1px #548AC4 solid;
	list-style: none;
}
li.iPicker-minuteWrap ul{
	position: relative;
	width: 100%;
	float: left;
	margin: 0px 5px;
	padding: 2px;
}
li.iPicker-minuteWrap ul > li{
	position: relative;
	float: left;
	width: 26px;
	height: 24px;
	text-align: center;
	color: #000D19;
	text-shadow: 1px 1px 1px rgba(158, 187, 218, 1);
	font: 12px/24px 'Microsoft YaHei', Helvetica, Arial, san-serif, Tahoma;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px rgba(255, 255, 255, 0) solid;
}
li.iPicker-minuteWrap ul > li.selected{
	background: #E0F0FF;
	color: #FF0000;
	text-shadow: 1px 1px 1px rgba(78, 94, 106, 1);
	border: 1px #007BFF solid;
}

.DateAgentPicker .Wdate {
	border: 1px #7CADE8 solid;
	height: 22px;
	width: 125px;
	padding: 0px 5px;
	margin: 3px 6px 3px 0px;
	color: #003469;
	text-shadow: 1px 1px 1px #AFAFAF;
	font: 12px/22px 'Microsoft YaHei', Helvetica, arial, sans-serif;
	background: #FFF;
}
.DateAgentPicker .iPicker-hour input{
	border: 1px #7CADE8 solid;
	height: 22px;
	width: 35px;
	padding: 0px 2px;
	margin: 3px 6px 3px 2px;
	text-align: center;
	cursor: pointer;
	color: #003469;
	text-shadow: 1px 1px 1px #AFAFAF;
	font: 12px/22px 'Microsoft YaHei', Helvetica, arial, sans-serif;
}
.DateAgentPicker .iPicker-minute input{
	border: 1px #7CADE8 solid;
	height: 22px;
	width: 35px;
	padding: 0px 2px;
	margin: 3px 6px 3px 2px;
	text-align: center;
	cursor: pointer;
	color: #003469;
	text-shadow: 1px 1px 1px #AFAFAF;
	font: 12px/22px 'Microsoft YaHei', Helvetica, arial, sans-serif;
}



